[Unit]
Description=SQUAD: software quality dashboard
After=postgresql.service rabbitmq-server.service

[Service]
User=squad
Group=squad
PrivateTmp=yes
WorkingDirectory={{install_base}}
ExecStart={{install_base}}/bin/squad --workers={{number_of_workers}}
ExecReload=/bin/kill -HUP $MAINPID
EnvironmentFile={{install_base}}/environment
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
