[Unit]
Description=SQUAD: software quality dashboard (worker)
After=postgresql.service rabbitmq-server.service

[Service]
User=squad
Group=squad
PrivateTmp=yes
WorkingDirectory={{install_base}}
ExecStart={{install_base}}/bin/celery -A squad worker --concurrency={{worker_concurrency}} -Q celery,reporting_queue --max-tasks-per-child=5000 --max-memory-per-child=1500000 --loglevel INFO
EnvironmentFile={{install_base}}/environment
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
