[Unit]
Description=SQUAD: software quality dashboard (worker)
After=postgresql.service rabbitmq-server.service

[Service]
User=squad
Group=squad
PrivateTmp=yes
WorkingDirectory={{install_base}}
{% if worker_type is defined and worker_type == 'quick' %}
ExecStart={{install_base}}/bin/celery -A squad worker --concurrency={{worker_concurrency}} -Q core_reporting,core_postprocess,core_quick,core_notification,ci_quick,celery --max-tasks-per-child=5000 --max-memory-per-child=1500000 --loglevel INFO
{% else %}
ExecStart={{install_base}}/bin/celery -A squad worker --concurrency={{worker_concurrency}} -Q ci_poll,ci_fetch --max-tasks-per-child=5000 --max-memory-per-child=1500000 --loglevel INFO
{% endif %}
EnvironmentFile={{install_base}}/environment
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
