[Unit]
Description=SQUAD: software quality dashboard (scheduler)
After=postgresql.service rabbitmq-server.service

[Service]
User=squad
Group=squad
PrivateTmp=yes
WorkingDirectory={{install_base}}
ExecStart={{install_base}}/bin/celery -A squad beat --pidfile=''
EnvironmentFile={{install_base}}/environment
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
