[Unit]
Description=SQUAD Lava Listener: LAVA ZMQ listener

[Service]
User=squad-lava-listener
Group=squad-lava-listener
PrivateTmp=yes
WorkingDirectory={{lava_listener_install_base}}/code
ExecStart={{lava_listener_install_base}}/bin/python manage.py startlistener
EnvironmentFile={{lava_listener_install_base}}/environment
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
